#about-container {
    margin: 0 var(--gap);
    height: calc(100vh - 7em);
    position: relative;
}

/* Navbar */

#navbar-about {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: var(--gap);
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.about-nav--link {
    position: relative;
    margin: 0 5em; 
    padding: 0.5em 0;
}

.about-nav--link a {
      cursor: pointer;
      font-size: 1.5em;
      font-weight: bold;
      letter-spacing: 0.2em;
      text-decoration: none;
      opacity: var(--opacity);
      font-weight: lighter;        
      position: relative;
}

#journey-link a {
    background: linear-gradient(white 0 100%) left / 0 no-repeat;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    transition: background-size 0.45s 0.04s;
}

#skills-link a {
    background: linear-gradient(white 0 100%) right / 0 no-repeat;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    transition: background-size 0.45s 0.04s;
}

#journey-link::before {
    position: absolute;
    content: "";
    top: 0;
    left: -2rem;
    width: 0.25rem;
    height: 100%;
    transition: 0.6s;
    background: black;
}

#skills-link::after {
    position: absolute;
    content: "";
    top: 0;
    right: -2rem;
    width: 0.25rem;
    height: 100%;
    transition: 0.6s;
    background: black;
    z-index: -1;
}

#journey-link a::before {
    position: absolute;
    content: attr(data-text);
    z-index: -1;
    color: black;
}

#journey-link:hover::before{
    /*left: calc(100% + 1rem);*/
    width: calc(100% + 4rem);
}

#skills-link a::after {
    position: absolute;
    content: attr(data-text);
    z-index: -1;
    color: black;
    right: 0;
}

#skills-link:hover::after{
    /*left: calc(100% + 1rem);*/
    width: calc(100% + 4rem);
}

#journey-link a:hover {
    background-size: 100%;
}

#skills-link a:hover {
    background-size: 100%;
}

.about-nav-link-active {
    opacity: 1 !important;
    font-weight: bold !important;
}



/* Parallax section */

#square-about img {
    height: 75vh;
}


#about-container-parallax {    
    height: calc(100vh - 7em);
}

#square-about {    
    position: absolute !important;    
    left:0 !important;
    right:0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: auto;
    margin-bottom: auto;
    bottom: 7em !important;
}


#about-title {    
    top: 30% !important;
    left: 0 !important;
    right: 100px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/*section title */

#about-section-info {
    height: 150px;
    justify-content: space-between;
    font-size: 1em;
    margin: auto 0 !important;    
    justify-self: center;
    padding: 1em;
    background-color: white;
}

.about-section--title {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-weight: bold;
}

.about-section--title::after {
    content: '';
    background-color: black;
    position: absolute;
    width: 2px;
    top:  calc(50% + 100px);
    height: 150px;
    margin-right: 8px;
}

.about-section--title::before {
    content: '';
    background-color: black;
    position: absolute;
    width: 2px;
    bottom: calc(50% + 100px);
    height: 150px;
    margin-right: 8px;
}


/* Journey Template */

#journey {
    top: var(--gap);
    position: absolute;
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#journey-text-container { 
    padding: 3em;   
    width: 300px;
    padding-right: 10em;
}

#journey-text-container h1 {
    font-weight: bold;
    font-size: 1.5em;
}

#journey-text-container h2 {
    margin-bottom: 1em;
    font-size: 1.2em;
}

.journey-text {
    letter-spacing: 0.1em;
    line-height: 1.7em;
    text-align: left;
    font-size: 1em;
    margin-bottom: 1em;
}


#journey-timeline-container {  
    padding: 3em;
    width: 300px;
    padding-left: 10em;
}

#journey-timeline-container h2{    
    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 1em;
}

.work-experience {
    margin-bottom: 2em;
    font-size: 1em;
    line-height: 1.5em;
}

.work-time-frame {
    opacity: var(--opacity);
}

.work-technology {
    font-size: var(--font-size-details);
    margin-left: 1em;
}

.work-position {
    font-weight: bold;
}

.work-company {
    text-transform: uppercase;
}


/* Skills Template */

#skills {
    top: var(--gap);
    position: absolute;
    display: flex;
    justify-content: space-around;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 672.91px;
}

#skills h3 {    
    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 1em;
}

#skills ul{    
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

#skills li {    
    opacity: var(--opacity);
    display: inline;
}


#skills-left-container { 
    padding: 3em;   
    width: 300px;
    padding-right: 10em;    
    background-color: ghostwhite;
}

#skills-right-container { 
    padding: 3em;   
    width: 300px;
    padding-left: 10em;    
    background-color: ghostwhite;
}

.skills-subcontainer {
    height: 50%
}



@-webkit-keyframes bg-slide {
    from { transform: translate(-100%, 100%); }
    to { transform: translate(0%, 0%); }
}


#whale-image {
    height: 25em;
    position: absolute;
    top: 50%;
    left: 50%;
}

#whale-container {
    width: 25em;
    border-radius: 50%;
    height: 25em;
    background-size: contain;
    background-repeat: repeat;
    animation: bg-slide 3s linear;
    position: absolute;
    bottom: 0;
    left: -100px;
}

