#footer {
    padding: 0 var(--gap);
    background-color: black;
    color: white;
    position: relative;
}

#footer-top-part {
    height: 1em;
    background-color: #e3e5ec;
}

#footer-middle-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3em 0;
}

#footer-middle-part div:not(:last-child) {
    width: 200px;
}

#footer h2 {
    letter-spacing: .2em;
    text-transform: uppercase;
    color: white;
    line-height: 1;
    margin-bottom: 1em;
    font-size: 1em;
}

#my-email {  
    color: white !important;
    text-decoration: none;
    opacity: 1 !important;
}

.social-medias{
    margin: var(--gap) 0;
}


.social-medias a:not(:last-child) {
    margin-right: 20px;
}

.social-medias img {
    height: 30px;
    width: auto;
}

#footer-bottom-part {
    padding: 2em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: var(--font-size-details);
}

#arrow-to-top {
    position: absolute;
    right: 1.8em;
}

.round {
    position: relative;
    width: 100px;
    height: 100px;
    transform: rotate(180deg);
}


span {
    z-index: 999;
    height: 3px;
    margin:1px;
    width: 30px;
    background: #fff;
    transition: 0.4s ease;
}

span:first-child {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 0;
}

span:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 0;
}

span:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 20%;
}

span:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 20%;
}

.round:hover span:nth-child(1) {
    transform: rotate(-135deg);
}

.round:hover span:nth-child(2) {
    transform: rotate(135deg);
}

.round:hover span:nth-child(3) {
    transform: rotate(225deg);
}

.round:hover span:nth-child(4) {
    transform: rotate(-225deg);
}


@media screen and (min-width: 900px) {
    #footer-middle-part {
        flex-direction: row;
    }
    .social-medias{
        margin: 0;
    }

    #arrow-to-top {
        position: relative;
    }
}

