html {
    scroll-behavior: smooth;
}

body {    
    overflow-x: hidden;
    margin: 0;
    font-family: 'Lato', Arial, sans-serif;
    position: relative;
    min-height: 100%;
    background-color: rgb(253,253,251);
}

#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-left: var(--gap);
    padding-right: var(--gap);
    z-index: 100;
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0.5);
}

#nav {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    float: left;
    display: block;
    pointer-events: auto;
}

#nav a {
    font-size: 1.2em;
    opacity: 1 !important;
}

#nav a::after {
    display: none !important;
}

#nav .active {    
    color: white;
    padding: 1em;
    background-color: black;
    opacity: 1;
}


#nav a:not(:last-child) {
    margin-right: 20px;
}

#app {    
    padding: 8em 0 0 0;
    /*position: relative;*/
    overflow-x: hidden;
}


@media screen and (min-width: 700px) {   
    #nav {
        float: right;
    }
    #header {
        padding: 2em var(--gap) 0; 
        background: none;   
    }

    #app {
        padding: 0;
    }
}
