body {    
    overflow-x: hidden;
    margin: 0;
    font-family: 'Lato', Arial, sans-serif;
}

#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-left: var(--gap);
    padding-right: var(--gap);
    z-index: 100;
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0.5);
}

#nav {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    float: left;
    display: block;
    pointer-events: auto;
}

#nav a {
    font-size: var(--font-size);
}

#nav .active {
    opacity: 1;
}

#nav a:not(:last-child) {
    margin-right: 20px;
}

#app {    
    padding: 7em var(--gap);
    /*position: relative;*/
    overflow: hidden;
}

@media screen and (min-width: 700px) {   
    #nav {
        float: right;
    }
    #header {
        padding: 2em 4em; 
        background: none;   
    }
}
