.project {
    margin: 0 var(--gap) 0;
    margin-bottom: 6em;
}

.project__header {
    text-align: right;
    padding: 1.8em 0;
    border-bottom: 1px solid gray;
}

.project h1 {    
    font-size: var(--title-font-size );
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 0.5em;
}

.project h3 {    
    font-size: 1.2em;
    opacity: var(--opacity );
}

#project-img__container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.project img {    
    padding: var(--gap) 0;
    filter: grayscale(80%);
}

.project__description{    
    font-size: var(--font-size);
    margin: 0;
    line-height: 1.5em;

}

.project__technologies {
    display: flex;
}

.project__technologies li::marker {
    display: none;
}

#technologies-list-container {
    margin-top: 2em;
}

.project__technologies li {  
    font-size: var(--font-size-details);
    letter-spacing: .05em;
    text-transform: uppercase;
    margin-bottom: 0;
    letter-spacing: 0.1em;
}

.project__technologies li:not(:last-child) {
    margin-right: 1em;
}

.project__left h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.project__left p {
    font-size: 1em;
    font-weight:lighter;
    opacity: var(--opacity);
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.project__top {    
    font-size: 1em;
    line-height: 1.6em;
    margin: auto;
    width: 80%;
    max-width: 640px;
}

.project__links {    
    text-align: center;
    margin: 3em auto 0;
    letter-spacing: .05em;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-button {
    color: black !important;

}

.project__subcontainer {
    display: flex; 
    flex-direction: column;  
    border-top: 1px solid gray;
    padding-top: 3em; 
}

.project__left {
    padding-right: var(--gap);
    width: 700px;
    margin-bottom: var(--gap);
}

@media screen and (min-width: 500px){

    .project__left {
        margin-bottom: 0;
    }

    .project__subcontainer {
        flex-direction: row;  
    }

}

@media screen and (min-width: 700px) {   
    .project {
        margin-top: 9em;
    }
}


