.pictures-to-move__collection {
    opacity: 0.3;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.opacity {
    opacity: 1;
    transition: all 1s;
    -webkit-transition: all 1s;
}

#picture-container__1 {
    position: absolute;
    top: 30px;
    left: 300px;
}

#picture-container__1 img {
    left: 1200px;
    width: 100px;
    height: 100px;
}

#picture-container__2 {
    position: absolute;
    top: 170px;
    left: 70px;
}

#picture-container__2 img {
    right: 200px;
    width: 100px;
    height: 100px;
}

#picture-container__3 {
    position: absolute;
    top: 250px;
    right: 200px;
}

#picture-container__3 img {
    left: 350px;  
    width: 100px;
    height: 100px;  
}