.project {
    margin: 0 var(--gap);
    margin-bottom: 6em;
}

.project__header {
    text-align: right;
    padding: var(--gap) 1em;
    border-bottom: 1px solid gray;
}

.project h1 {    
    font-size: var(--title-font-size );
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 0.5em;
}

.project h3 {    
    font-size: 1.2em;
    opacity: var(--opacity );
}

.project img {    
    width: 100%;
    height: auto;
    margin: var(--gap) auto;
    align-items: center;
    border: 1px solid rgba(0,0,0,.15);
    text-align: center;
    display: block;
    filter: grayscale(80%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.project__description{    
    font-size: var(--font-size);
    margin: 0;
    line-height: 1.5em;

}

.project__technologies {
    display: flex;
    justify-content: center;
    max-width: 640px;
    margin: 1em auto;
}

.project__technologies li::marker {
    display: none;
}

.project__technologies li {    
    margin: 1em;
    font-size: var(--font-size-details);
    letter-spacing: .05em;
    text-transform: uppercase;
    margin-bottom: 0;
}

.project__top {    
    font-size: 1em;
    line-height: 1.6em;
    margin: auto;
    width: 80%;
    max-width: 640px;
}

.project__links {    
    text-align: center;
    margin: 1em auto;
    letter-spacing: .05em;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-button {
    color: black !important;

}

.project__subcontainer {
    display: flex;    
}

.project__left {
    padding-right: var(--gap);
}

.project__right {
    padding-left: var(--gap);
}

