#project {
    margin-top: var(--margin-top);
    padding-bottom: 3em;
}

.project__header {
    text-align: center;
    background-color: rgb(238,238,238);
    padding: var(--gap) 1em;
}

.project h1 {    
    font-size: var(--title-font-size );
    text-transform: uppercase;
}

.project h3 {    
    font-size: var(--font-size );
    opacity: var(--opacity );
}

.project img {    
    max-width: 950px;
    height: auto;
    max-width: 100%;
    margin: var(--gap) auto;
    align-items: center;
    border: 1px solid rgba(0,0,0,.15);
    text-align: center;
    display: block;
    filter: grayscale(80%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}


.project__description{    
    font-size: 1em;
    margin: 0
}

.project__technologies {
    display: flex;
    justify-content: center;
    max-width: 640px;
    margin: 1em auto;
}

.project__technologies li::marker {
    display: none;
}

.project__technologies li {    
    margin: 1em;
    font-size: var(--font-size-details);
    letter-spacing: .05em;
    text-transform: uppercase;
    margin-bottom: 0;
}

.project a {    
    font-size: 1.5em !important;
    text-align: right;
    margin-right: 0.5em;
}

.project__top {    
    font-size: 1em;
    line-height: 1.6em;
    margin: auto;
    width: 80%;
    max-width: 640px;
}

.project__links {    
    text-align: center;
    margin: 1em auto;
    letter-spacing: .05em;
    text-transform: uppercase;
}

.project__links a{    
    background-color: white;
    color: black;
    font-size: 1.2em !important;
    margin: 1em 0;
    border: 1px solid #000;
    padding: 0.3em 1em;
}

.project__links a:hover{    
    font-size: 1.2em !important;
    margin: 1em 0;
    border: 1px solid #000;
    padding: 0.3em 1em;
    background-color: black;
    border-color: white;
    color: white;
}

.project__links a::after{    
    display: none !important;
}

@media screen and (min-width: 700px) {
    .project {
        padding-top: 3em;
    }
}
