.pictures-to-move__collection {
    opacity: 0.3;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.opacity {
    opacity: 1;
    transition: all 1s;
    -webkit-transition: all 1s;
}

#pictures-to-move__1 {
    position: absolute;
    top: 30px;
    left: 1200px;
}

#pictures-to-move__2 {
    position: absolute;
    top: 170px;
    right: 200px;
}

#pictures-to-move__3 {
    position: absolute;
    top: 250Px;
    left: 350px;    
}