#projects-container {    
    /* margin: 0 var(--gap); */
    padding-bottom: calc(var(--gap) *3);
    min-height: fit-content;
}

#about-me {
    margin: var(--gap);
    display: flex;
    position: relative;
}

#about-me h1 {
    font-size: var(--title-font-size );
    letter-spacing: .015em;
    line-height: 1.2em;
    margin-bottom: 0.5em;
    z-index: 50;
}

#about-me p {
    opacity: var(--opacity);
    font-size: var(--font-size-details );
    margin: 0;
    z-index: 50;
}

#about-introduction {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    padding-left: var(--gap);
    padding-bottom: 1em;
    align-self: flex-end;
    line-height: 2;
    letter-spacing: 0.1em;
    padding: 2em;
    z-index: 30;
    background-color: white;
}

#about-img {    
    width: 600px;
    opacity: 0.6;
    border-bottom: 1px solid gray;
    height: 100%;
    align-self: flex-end;
    display: none;
}

#about-img-container {
    margin-bottom: 3em;
    width: 500px
}

#about-circle {
    height: 20px;
    width: 20px;
    border: 3px solid gray;
    border-radius: 50%;
}

#about-guide {    
    justify-self: flex-end;
    align-self: flex-end;
    margin-left: var(--gap);
    border-left: 1px solid gray;
    padding-left: var(--gap);
    display: none;
}

#pictures-to-move__title {
    text-transform: uppercase;
    z-index: 50;
    font-size: var(--font-size);
    line-height: 2;
    letter-spacing: 0.1em;

}

#arrow-bottom {    
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(135deg);
}

/* inspiration : https://codepen.io/paolocavanna/pen/qNKAyX */

#square-div {    
    position: absolute;
    height: 30em;
    width: 20em;
    left: 400px;
    top: -12em;
    display: none;
    background-repeat: no-repeat;
    background-image:   linear-gradient(to right, black 100%, white 100%),
                        linear-gradient(to bottom, black 100%, #C9C9C9 100%),
                        linear-gradient(to right, black 100%, #C9C9C9 100%),
                        linear-gradient(to bottom, black 100%, #C9C9C9 100%);
    background-size:    100% 4px,
                        4px 100%,
                        100% 4px,
                        4px 100%;
    background-position:    0 0,
                            100% 0,
                            100% 100%,
                            0 100%;
    animation: bg 1.25s cubic-bezier(0.19, 1, 0.22, 1) 1;    
}

@keyframes bg {
    0% {
        background-size:    0 3px,
                            3px 0,
                            0 3px,
                            3px 0;
    }
    25% {
        background-size:    100% 3px,
                            3px 0,
                            0 3px,
                            3px 0;
    }
    50% {
        background-size:    100% 3px,
                            3px 100%,
                            0 3px,
                            3px 0;
    }
    75% {
        background-size:    100% 3px,
                            3px 100%,
                            100% 3px,
                            3px 0;
    }
    100% {
        background-size:    100% 3px,
                            3px 100%,
                            100% 3px,
                            3px 100%;
    }
}


@media screen and (min-width: 990px) {   
    
    #projects-container {    
        min-height: calc((55vw + 40vh));
    }
}


@media screen and (min-width: 1450px) {   
    #about-guide {
        display: block;
    }
}


@media screen and (min-width: 750px) {   
    #about-img {   
        display: block;
    }   
    #square-div {
        display: block;
    } 
    #about-me {      
        margin: 15em 0 var(--gap);
    }
}

