.sun {
    height: 40vw;
    width: 40vw;
    background: conic-gradient('wheat', #000);
    border-radius: 50%;
    position: fixed;
    margin: auto;
    z-index: 0;  
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: var(--opacity);

}